#renkler{
    background-color: #24292e;
    color: #8e2c43;
    color: #3949ab;
    color: lightblue;
    color: rgba(255,255,255,0.75);
    color: #4b4f53;
    color: #1f3522;
    color: #6b4fbb;
    color: #24292e;
    color: #e62117;
    color: crimson;
    border:1px solid #64c37d;
}