*
{
    margin: 0;
}
body 
{
    
    background-color:#ffffff;
    //background-color:#24292e;
    //background-color:#cedad7;
    //background-color:  #3949ab;
    //background-color:  lightblue;
}
header{    
    min-width: 1354px;
    background-color: #4caf50;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 45px;
    color: rgba(255,255,255,0.75);
    //background-color: #5f5f5f;
    //background-color: #8e2c43;
    -webkit-transition-duration:0.1s;
    z-index: 2;
    position: fixed;
    //border-bottom:2px solid #64c37d;   
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    
}
header:hover{    
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 45px;
    color: rgba(255,255,255,0.75);
    -webkit-transition-duration:0.1s;
    
    
}
#icon{
    left: 123px;
    background-image: url("icon/abc.png");

    width: 32px;
    height: 32px;
    float: left;
    margin-top: 5px;
    z-index: 3;
    position: fixed;
    
}
#icon:hover{
    cursor: pointer;
    
}
#kalip{
    height: 45px;
    margin: 0 auto;
    width: 1000px;
    min-width: 1000px;

}
#girisyap{
    top: 0px;
    right: -420px;
    width: 420px;
    height: 45px;
    z-index: 3;
    position: fixed;
    line-height: 45px;
    background-color: #4caf50;
    -webkit-border-radius:10px;
    line-height: 48px;
}
#txtgiris{
    border:none;
    color:#4b4f53;
    background-color:  #ffffff;
    padding:2px;
    -webkit-border-radius:3px;
    -webkit-transition-duration:0.2s;
    font-family: Verdana;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    margin-left: 10px;
    width: 150px;
    max-width: 150px;
    font-size:18px;
    
}
#txtgiris2{
    border:1px solid #64c37d;
    color:#4b4f53;
    background-color:  #ffffff;
    padding:2px;
    -webkit-border-radius:3px;
    -webkit-transition-duration:0.2s;
    font-family: Verdana;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    margin-left: 10px;
    width: 150px;
    max-width: 150px;
    font-size:18px;
    font-family: Verdana;
}
#btngiris {  
    background-color: #2196f3; /* Green */
    border: none;
    color: white;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    -webkit-border-radius:3px;
}
#btngiris:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}


#anasayfa{
    padding-right: 5px;
    padding-left: 5px;
    -webkit-border-radius:3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    float: left;
    line-height: 45px;
    font-size: 30px;
}
#anasayfa:hover{

    float: left;
    line-height: 45px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#arama{
    margin-top: 9px;
    margin-left: 20px;
    width: 300px;
    float: left;
    
}
#txtarama{
    vertical-align: center;
    float: left;
    border:none;
    color:#4b4f53;
    background-color:  #ffffff;

    padding-left:8px; ;
    padding-top:2px ;
    padding-bottom:2px ;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-transition-duration:0.2s;
    font-family: Verdana;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;


    font-size:18px;
    
}
#txtarama:hover{
    border:none;
    -webkit-transition-duration:0.2s;
    font-family: Verdana;
}
.btnarama {
    background-image: url(arama.png);
    float: left;
    background-color: #2196f3; /* Green */
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 40px;
    font-family: Verdana;
    height: 26px;
}
.btnarama:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}

#daraltma{
    margin-top: 8px;
    height: 29px;
    width: 565px;
    float: left;
    

}

header ul{
    float: left;
    list-style: none;
    
}
 header ul li{
     font-size: medium;
     padding: 5px;
    //background-color: #f4511e;
    margin-left: 10px;
    color: rgba(255,255,255,0.75);
    font-family: Verdana;
    //border-right:1px solid rebeccapurple;
    float: left;
    position: relative;
    -webkit-transition-duration:0.1s;
    -webkit-border-radius:3px;

}
 header ul li:hover{
    color: white;
    font-family: Verdana;
    //border-right:1px solid rebeccapurple;
    float: left;
    position: relative;
    -webkit-transition-duration:0.1s;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;

}
#bosluk{
    float: left;
    width: 55px;
    height: 29px;
}

    #resim {
        -webkit-border-radius:100px;
        background-image: url("3044584.jpg");
        width: 1024px;
        height: 266px;
    }


#BilgiYazi{
    text-align:left;
    float:left;
    width:100%;
    margin-top:20px;
    font-family:Britannic;
    font-size:20pt;
    color:#24292e;
    font-family:'Arabic Typesetting';
}
#foto{
    margin: 0 auto;
    background-image: url("30445843.jpg");
    width: 1024px;
    height: 266px;
    -webkit-transition-duration:0.2s;
    //opacity: 0.5;
    //box-shadow: 10px 10px 5px #888888;   
    //box-shadow: rgba(0, 0, 0, 0.56) -2px 1px 10px 0px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin-top: 40px;
}
#foto:hover{
    margin-top: 40px;
    width: 1024px;
    height: 266px;
    -webkit-transition-duration:0.2s;
    //opacity: 1;
}
#altkisim{
    left: 163px;
        
    position: absolute;
    top: 45px;
    width: 1024px;
    height: 800px;
    z-index: 1;


}
#solkisim{
    //border-top:2px solid #64c37d;
    //border-right:2px solid #64c37d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    //background-color: #f1f1f1;
    z-index: 2;
    position: fixed;
    color: white;
    float: left;           
    width: 163px;
    height: 230px;
    //background-color: #5f5f5f;
    //background-color: #8e2c43;
    //transition-duration: 0.3s;
    //overflow:hidden;
    //opacity: 0.95;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
::-webkit-scrollbar {
width: 10px;
height: 12px;

}
::-webkit-scrollbar-track {
//border: 1px solid #4b4f53;
}

::-webkit-scrollbar-thumb {
background: #4b4f53;  
}

::-webkit-scrollbar-thumb:hover {
//background: #4b4f53;  
}
#soldakiler{
    float: left;
    top: 47px;
    width: 163px;
    list-style: none;
    height: 230px;    
}
.lileri{
    background-color: #f1f1f1;
    margin-top: 8px;
    padding-left: 10px;
    float: left;
    text-align: left;
    font-size: 20px;
    top: 47px;
    width: 143px;
    color:  #434343;
    font-family: 'Segoe UI';
    //border-right:1px solid rebeccapurple;
    position: relative;
    -webkit-transition-duration:0.1s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    
}
.lileri:hover{
    background-color: #4caf50;
    color: white;
    //border-right:1px solid rebeccapurple;
    position: relative;
    -webkit-transition-duration:0.1s;
    cursor:pointer;
    
    
}
#sagkisim{
    top: 47px;
    //border-bottom-right-radius: 30px;
    border-bottom-left-radius: 5px;
    z-index: 2;
    position: fixed;
    width: 500px;
    height: 316px;
    //background-color: #24292e;
    //transition-duration: 0.3s;
    //border-bottom:2px solid #64c37d;
    //border-left:2px solid #64c37d;
    background-color: #64c37d;
    box-shadow: -2px 2px 4px 0 rgba(0,0,0,0.16),-2px 2px 10px 0 rgba(0,0,0,0.12)!important;
}
#txt1{
    margin-top: 20px;
    margin-left: 30px;
    width: 300px;

    
    border:1px solid #64c37d;
    color:#4b4f53;
    background-color:  #ffffff;
    padding:2px;
    -webkit-border-radius:3px;
    -webkit-transition-duration:0.2s;
    font-size:18px;
    font-family: Verdana;
    //background-color:  rgba(255,255,255,0.75);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;

}
.txtkayit{    
    border:1px solid #64c37d;
    color:#4b4f53;
    background-color:  #ffffff;
    padding:2px;
    -webkit-border-radius:3px;
    -webkit-transition-duration:0.2s;
    font-size:18px;
    font-family: Verdana;
    margin-top: 15px;
    margin-left: 30px;
    width: 300px;
    //background-color:  rgba(255,255,255,0.75);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.txtkayit:hover{
    border:1px solid #3949ab;
    color:#1f3522;
    -webkit-transition-duration:0.2s;
    font-family: Verdana;
}
.btnkayit {
    background-color: #2196f3; /* Green */
    border: none;
    color: white;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    -webkit-border-radius:3px;






    margin-left: 235px;
    width: 100px;
    margin-top: 10px;
    font-family: Verdana;
}
.btnkayit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}
