body {
    background-color:  #3949ab;
    font-family:Tahoma,Arial;
}
header{
    float: left;
    width:100%;
    height:auto;
    text-align:center;
    color:white;
    font-size:100px;
    font-family:'Arabic Typesetting';
}
#lblbaslik {
    width:600px;
    font-size:100px;
    color: white;
    font-family:'Arabic Typesetting';
}
#lblbaslik:hover {
    font-size:100px;
    color: white;
    font-family:'Arabic Typesetting';
    border:1px solid #ffffff;
    -webkit-border-radius:30px;
    -webkit-transition-duration:0.2s;
}
.GirisVeKayit{
    
    float:right;
    height:auto;
    width:100%;
    text-align:center;
}
.GirisVeKayit .Giris {

    min-width: 600px;
    margin-left:20px;
    margin-top:20px;
    height:auto;
}
.GirisVeKayit .Giris h1 {
    font-family:'Arabic Typesetting';
    margin-left:20px;
    margin-top:20px;
    color:white;
}
#lblgiris {
    margin-left:10px;
    margin-top:20px;
    font-size:30px;
    color: darkkhaki;
    font-family:'Arabic Typesetting';
    padding:5px;
    border:1px solid #ffffff;
    -webkit-border-radius:10px;
    
}
#txtgiris {
    margin-top:20px;
    border:1px solid #ffffff;
    font-size:30px;
    color:white;
    font-family:'Arabic Typesetting';
    background-color:  #3949ab;
    padding:5px;
    -webkit-border-radius:10px;
    -webkit-transition-duration:0.2s;
}
#txtgiris:hover {
    margin-top:20px;
    border:1px solid #ffffff;
    font-size:30px;
    color:crimson;
    font-family:'Arabic Typesetting';
    background-color:  white;
    padding:5px;
    -webkit-border-radius:10px;
    -webkit-transition-duration:0.2s;

}
#btngiris {
    margin-left:10px;
    width:70px;
    margin-top:20px;
    border:1px solid #ffffff;
    font-size:30px;
    color:white;
    font-family:'Arabic Typesetting';
    background-color: crimson;
    padding:5px;
    -webkit-border-radius:10px;
}
#btngiris:hover {
    margin-left:10px;
    margin-top:20px;
    border:1px solid #ffffff;
    font-size:30px;
    color:white;
    font-family:'Arabic Typesetting';
    background-color:cadetblue;
    padding:5px;
    width:100px;
    -webkit-border-radius:10px;
    -webkit-transition-duration:0.2s;
}

.GirisVeKayit .Kayit{
    width: 550px;
    -webkit-border-radius:200px;
    padding-bottom: 50px;
    border:1px solid #ffffff;
    margin-top:40px;
    height:auto;
    -webkit-transition-duration:0.2s;
    background-color: crimson;

}
.GirisVeKayit .Kayit:hover  {
    text-align: center;
    width: 600px;
    -webkit-border-radius:30px;
    padding-bottom: 50px;
    border:1px solid #ffffff;
    margin-top:40px;
    height:auto;
    -webkit-transition-duration:0.2s;
}
.GirisVeKayit .Kayit h1 {
    margin-left:20px;
    margin-top:20px;
    color:white;
    font-family:'Arabic Typesetting';
}

.BilgiYazi{
    text-align:center;
    float:left;
    width:100%;
    margin-top:40px;
    font-family:Britannic;
    font-size:large;
    color:white;
}
